<ion-view view-title="Dolimetro">
  <ion-content>
  </br>
   <div class="item item-divider fondoRojo">
     ¿Cómo funciona?
     </div>
   <div class="list card">

  <div class="item item-body justificar">
    <p>"El dolímetro" y cumple exactamente esa función: medir el nivel de dolor que se siente al tatuar cada zona del cuerpo. Aquí podrás elegir la zona de tu cuerpo que deseas tatuar, y conocer el grado de dolor que sentirás. Claro está que dependerá si eres hombre o mujer, en cada uno hay zonas de mayor y menor dolor.
    </p>
     <img class="full-image" src="./img/tipos.jpg" width="90%" height="20%">

      <div class="item item-text-wrap">
     <center> <H3>Mujer</H3> </center>
     <img class="full-image" src="./img/mujer.jpg" width="90%" height="20%"> 

  </div>
     <div class="item item-text-wrap">
   <center> <H3>Hombre</H3></center>
    <img class="full-image" src="./img/hombre.jpg" width="90%" height="20%">

</div>
   
  </div>


</div>
  </ion-content>
</ion-view>
