<ion-view view-title="Denunciar">
  <ion-content>
    
    <div class="card">
      <div class="item item-divider fondoRojo">
      
     </div>
     <div id="photos"></div>
<div id="photos"></div>

<div id="photos"></div>
<!--<iframe src="//embedsocial.com/facebook_album/album_photos/1678841862328993" width="95%" height="1450" frameborder="0" scrolling="no" marginheight="0"  marginwidth="0"></iframe>-->


      <div class="item item-text-wrap justificar">
         Para nosotros es muy importante darle el credito a los artistas que han realizado las obras que mostramos, si vez que alguien esta haciendo una suplantacion,usurpacion falsificación o sustitucion por favor informanos para poder tomar medidas al respecto.

         En el siguiente enlace podras dejar toda tu info
            <a class="button button-full button-assertive " ng-click="denunciar()">
         <i class="icon ion-android-warning  icono"></i>
                Denunciar 
            </a>
        

        
        
      </div>
     

      
  </ion-content>
</ion-view>
