<ion-view view-title="{{'estudios' | translate}}">
  <ion-content>
<!--<div ng-repeat="publi in publicidad" class="list card" ng-click="ir(publi.redireccion)">

  

  <div class="item item-body">
    <img class="full-image" src="{{publi.imagen}}">
    <p>
      {{publi.descripcion}}
      <br>
      <font color="#3333FF">Leer mas..</font>
    </p>
   
  </div>


  

</div>-->

<div class="row" ng-repeat="publi in publicidad" ng-if="$index % 1 === 0">
        <div class="col col-100" ng-if="$index < publicidad.length" ng-click="seleccionarPublicidad($index)">
         <div class="item item-divider fondoRojo">
              {{publicidad[$index].nombre}}
          </div>
            <div class="item item-body fondo">
             <img class="full-image" src="{{publicidad[$index].imagen}}">
            </div>
        </div>
     
        
    </div>

  <!--<div class="row" ng-repeat="publi in publicidad" ng-if="$index % 4 === 0">
        <div class="col col-50" ng-if="$index < publicidad.length">
           <div  class="list card " ng-click="ir(publi.redireccion)">
  <div class="item item-divider fondoRojo">
   
     </div>


  <div class="item item-image">
    <img src="{{publi.imagen}}">
  </div>

  <div class="item item-body  fondo">
    
    <p>
      {{publi.descripcion}}
    </p>
  
  </div>


</div>
        </div>
        <div class="col col-50" ng-if="$index + 1 < publicidad.length">
            <div  class="list card " ng-click="ir(publi.redireccion)">
  <div class="item item-divider fondoRojo">
   
     </div>
  

  <div class="item item-image">
    <img src="{{publi.imagen}}">
  </div>

  <div class="item item-body justificar fondo">
    
    <p>
      {{publi.descripcion}}
    </p>
  
  </div>


</div>
        </div>
      
       
    </div>
 --><!-- <div  class="list card " ng-click="ir(publi.redireccion)">
  <div class="item item-divider fondoRojo">
   
     </div>
  <div class="item item-avatar fondo">
    <img src="{{publi.imagen}}">
    <h2>{{publi.nombre}}</h2>
    <p>{{publi.fecha}}</p>
  </div>

  <div class="item item-image">
    <img src="{{publi.imagen}}">
  </div>

  <div class="item item-body justificar fondo">
    
    <p>
      {{publi.descripcion}}
    </p>
  
  </div>


</div>-->

  </ion-content>
</ion-view>