<ion-view view-title="PUSH">
 <ion-pane>
    <ion-content>
    <script>window.twttr=function(t,e,r){var n,i=t.getElementsByTagName(e)[0],w=window.twttr||{};return t.getElementById(r)?w:(n=t.createElement(e),n.id=r,n.src="https://platform.twitter.com/widgets.js",i.parentNode.insertBefore(n,i),w._e=[],w.ready=function(t){w._e.push(t)},w)}(document,"script","twitter-wjs")</script><a href="https://www.periscope.tv/inkgps" class="periscope-on-air" data-size="large">@InkGps</a>
      
      <button class="button button-block button-dark" ng-click="identifyUser()">
        Identify a user
      </button>
 
      <button class="button button-block button-positive" ng-if="identified" ng-click="pushRegister()">
        Register for Push
      </button>

    </ion-content>
  </ion-pane>
</ion-view>