<ion-view view-title=" {{'recuperacion' | translate}}">
  <ion-content>
    
    <div class="card">

       
                <center>
                    <iframe src="https://www.youtube.com/embed/DMuBif1mJz0" frameborder="0" width="100%" height="315"></iframe>
                    </center>
                
      <div class="item item-divider fondoRojo">
       Tatuaje 
     </div>
      <div class="item item-text-wrap justificar ">
     <p>   Llamamos curado al proceso de cicatrización de un tatuaje, que es en si una herida. Como cualquier herida producida en la piel, se debe tener cuidado de algunas cosas
Porque cuando el cuerpo tiene una herida, la sangre y las plaquetas se acumulan en la zona para crear una cascara que evite el contacto con agentes externos que puedan infectar la misma herida, y con el paso de los días, esa cascara caerá para revelar la piel nueva. A mayor cantidad de zonas heridas, mayor es la cantidad de cascara y de tiempo. Bastante simple no?
</br></br>
Pero para que tu tatuaje cure sin problemas, debes tener conciencia, y no ser negligente. A si que vamos con los pasos básicos para que pase de forma perfecta: 
</br>

Cicatrización Después de terminado el tatuaje:
</br></br>
El tatuador te aplica una venda de papel plástico y cinta hipoalergénica  (la misma que usan los médicos). Esta venda protege el tatuaje y mantiene la humectación del mismo con la supuración de plaquetas del cuerpo. 

</br></br>
Curado De tres a cinco horas luego de realizado el tatuaje: 
</br></br>
Retiramos la venda aplicada por el profesional, y preferentemente durante el baño, lavamos con espuma de jabón blanco neutro la zona de forma suave, retirando toda la "baba" que se genero debajo del papel plástico. Esta baba es la supuración que contaba antes, es totalmente normal que salga con un poco de tinta y sangre. 
</br></br>
El proceso de curado del tatuaje. Luego del lavado con jabón: 
</br></br>
Secamos de forma suave con papel secante (haciendo topecitos con la mano, no arrastrando el papel porque va a doler y arder), si lo preferís para evitar el dolor, podes dejar que seque al aire durante una hora. Aplicamos crema humectante NEUTRA.

</br></br>
Salud Luego del secado y la aplicación de crema: 
</br></br>
Nos haremos la misma venda de papel plástico que nos puso el tatuador, durante el día la dejaremos unas horas (cuando vas al gimnasio, cuando trabajas, cuando te bañas), el resto del día dejaremos que el tatuaje respire manteniendo hidratada la zona con crema. La venda la utilizaremos para dormir durante los primeros tres días de forma obligatoria para evitar el rascado y el contacto con las sabanas. 

</br></br>
Tattoo Luego de los primeros tres días: 
</br></br>
Ya no utilizamos la venda, y empezamos a notar que la misma sirvió para crear una capa de cascara suave y fina, A diferencia de la cascara fina que parece como si nos peláramos la piel después de tomar sol, las cascaras gruesas pican demasiado, y cuando caen se llevan consigo mucha tinta. Durante las próximas semanas continuaremos la humectación de tres a cuatro veces al día, sin rascar ni tocar demasiado el tatuaje. 
</br></br>
Tatuaje Luego de dos a tres semanas: 
</br></br>
Vemos que la mayor parte de la cascara ha caído, que ya no pica tanto y que el uso del papel plástico logro cuidar el color y la fuerza del tatuaje. Podemos dejar de humectar si vemos que la piel ya se torno opaca (generalmente sucede a partir de la cuarta a quinta semana dependiendo el tatuaje). 

</br></br>
Cicatrización Primer y segundo mes después del tatuaje: 
</br></br>
Podemos utilizar cremas humectantes diferentes estando atentos a cuales no generan reacciones (algunas cremas "levantan" la piel como ronchas, no afecta al tatuaje ya que esta curado, pero es preferible ir probando que cremas podemos usar, y cuales no). <p>
        
      </div>

        <div class="item item-divider fondoRojo">
       Piercing 
     </div>
      <div class="item item-text-wrap justificar ">
      <p>
      En el caso de los piercing corporales y faciales, deben seguirse, dos veces al día, 
los siguientes pasos que te proporcionarán una higiene adecuada:
</br></br>

-El cuidado de tu piercing comienza por lavarse bien las manos con agua y jabón antes de tocarlo.
</br></br>
-A continuación, hay que humedecer la piel alrededor del piercing, por ejemplo con un bastoncillo, 
 para ablandar las costras que se hayan formado y retirarlas sin esfuerzo. En este sentido, procura no 
 apretarlas ni arrancarlas cuando están secas, pues así puedes infectar el agujero.
</br></br>
-Después tienes que lavar bien la perforación con jabón neutro y, a continuación, aclarar la zona con agua abundante.
</br></br>
-Una vez hayas retirado todo el jabón, rocía el piercing con suero fisiológico asegurándote de que entra en el orificio.
</br></br>
-Por último, seca la piel con cuidado ayudándote de una gasa esterilizada o un bastoncillo. No utilices las manos, 
ni toallas ni algodón, porque pueden facilitar que la herida se infecte.
      </p>
      </div>
        <div class="item item-divider fondoRojo">
       Bifurcación de lengua 
     </div>
      <div class="item item-text-wrap justificar ">
      <p>
          -La división se asemeja en lo que refiere a sus curaciones y tiempo de cicatrización a un piercing en la lengua. 
          </br></br>
          La cicatrización primaria (donde se puede hablar y comer con relativa normalidad) tarda entre una y dos semanas, 
          y la recuperación total generalmente se completa en un mes.
          </br></br>
         -Es frecuente por otra parte que algunas zonas de la lengua que fueron cortadas vuelvan a unirse durante el 
         período de curación, y en el caso de que el corte sea pequeño el cierre total no es algo inaudito. Para evitar 
         esto es buena la colocación de un trozo de algodón entre medio para evitar la unión.
        </br></br>
        -Si bien no se puede dejar el algodón permanentemente, se debe cambiar y colocar con regularidad ya que la 
        lengua es una zona del cuerpo que se cura muy rápido. Además puede ocurrir que haya un cierre total durante 
        el primer año del corte y por ello es posible que debemos volver a retocar la incisión.
        </br></br>
        -Teniendo en cuenta los riesgos, podemos estar más atentos y alertas a la hora de realizarnos este tipo de
        modificaciones corporales, y asimismo podemos tomar la decisión conociendo lo que estamos haciendo y por 
        ello estando más seguros.
      </p>
      </div>
       <div class="item item-divider fondoRojo">
       Microdermal
     </div>
      <div class="item item-text-wrap justificar ">
      <p>
         1.Deja el vendaje sobre el piercing durante al menos 24 horas. La presión del 
        vendaje ayuda a mantener la joya en su lugar, permitiendo que el tejido comience 
        a crecer a través de los orificios de la base.
         </br></br>

      2.Lava tus manos con agua caliente y jabón antibacterial antes de limpiar el 
      piercing microdermal. Nunca toques la joya a menos que la estés limpiando.
       </br></br>
      3.Agrega una pizca de sal marina no iodizada, no más de 1/8 de cucharadita, 
      a una taza de agua mineral bien caliente. Revuelve la solución salina con 
      una cuchara limpia. Satura una gasa esterilizada con la solución salina y 
      presiónala firmemente sobre la joya durante 10 minutos, una vez por día, para 
      aflojar la sangre y plasma secos.
       </br></br>
4.Haz espuma con una cantidad del tamaño de una arveja de jabón antibacterial 
en la palma de tu mano con agua tibia. Úsala para masajear suavemente la zona 
que rodea a la joya y déjala sobre tu piel durante un minuto. Salpica tu piel 
con agua tibia para enjuagar el jabón. Seca tu piel con una toalla de papel. 
Repite este proceso dos veces al día.
 </br></br>


5.Cubre tu joya con un vendaje a prueba de agua antes de irte a dormir. Elige un 
vendaje que selle bien el piercing. Déjate el vendaje puesto cuando te bañes en 
la mañana para evitar que el shampú o el jabón común entre en el piercing. Retira 
el vendaje y limpia el piercing luego de ducharte.
      </p>
      </div>


           
      </div> 
  </ion-content>
</ion-view>
