<ion-view view-title=" {{'procedimientos' | translate}}">
  <ion-content>
    
    <div class="card">
      <div class="item item-divider fondoRojo">
        {{"tatuaje" | translate}}
     </div>
      <div class="item item-text-wrap justificar">
        <!-- Popularmente, se conoce con el término de tatuaje a aquella grabación de un dibujo que se realiza sobre la piel a través del uso de materias colorantes indelebles o pequeños cortes en la misma piel. Básicamente, el tatuaje es una modificación que se llevará a cabo sobre la piel, creando como dijimos un dibujo, una figura o bien un texto y que fue elegido previamente por el individuo que se lo realiza porque el mismo ostenta algún significado especial en su vida y resulta ser tan grande que quiere tenerlo como se dice, grabado en la piel, es decir, casi siempre, los tatuajes son el resultado de aquello que ama, siente o gusta quien se lo hace.-->
          <img class="full-image" src="http://8-dot-inkdata-1019.appspot.com/img/tipoProcedimiento/Normal.jpg" width="90%" height="20%">
      </div>
      <div class="item item-divider fondoRojo">
          {{"coverUp" | translate}}
     </div>
      <div class="item item-text-wrap justificar">
        <!--Hay muchas personas que llevan tatuajes que no les gustan, o que se han aburrido de llevar en su piel el mismo diseño y desean cambiarlo. Generalmente no desean pasar por un tratamiento de eliminación de tatuajes con láser, y recurren al cover up.
Cover up es un término del inglés que significa cubrir o tapar algo. Entre los profesionales del tatuaje es utilizado a nivel mundial y hace referencia a cubrir un tatuaje antiguo por otro.-->
 <img class="full-image" src="http://8-dot-inkdata-1019.appspot.com/img/tipoProcedimiento/CoverUp.jpg" width="90%" height="20%">

      </div>
       <div class="item item-divider fondoRojo">
            {{"remocion" | translate}}
     </div>
      <div class="item item-text-wrap justificar">
      <!-- Hoy por hoy esconder un tatuaje no es necesario, la eliminación permanente permite borrar aquellos con los que, por una razón u otra, dejamos de identificarnos. 
El pigmento de los tatuajes forma partículas que por lo general suelen ser grandes y gruesas. Debido a esta situación, el organismo no es capaz de eliminarlo por sí solo.-->
 <img class="full-image" src="http://8-dot-inkdata-1019.appspot.com/img/tipoProcedimiento/remocion.jpg" width="90%" height="20%">


      </div>
       <div class="item item-divider fondoRojo">
            {{"escarificacion" | translate}}
     </div>
      <div class="item item-text-wrap justificar">
   <!--  La escarificación es la acción de producirse escaras en la piel. Las escaras son cicatrices producidas por cortes superficiales o profundos en la dermis. Estas heridas originan costras o granulaciones que por lo general son de color oscuro, resultante de la muerte de tejido vivo.
      Diversas culturas han utilizado esta técnica. En algunas culturas africanas las mujeres consideran la escarificación como una forma de belleza y en los hombres como un símbolo de fortaleza. También se encuentra en culturas americanas, como los mayas, los huastecas o chichimecas. Esta técnica de automutilación también se practica en la cultura occidental con fines decorativos, como una forma de tatuaje.-->
       <img class="full-image" src="http://8-dot-inkdata-1019.appspot.com/img/tipoProcedimiento/Escarificacion.jpg" width="90%" height="20%">

      </div>
         <div class="item item-divider fondoRojo">
           {{"microdermal" | translate}}
         </div>
          <div class="item item-text-wrap justificar">
            <!--El piercing microdermal es un piercing que se implanta dentro de la piel 
            y que queda dentro de nuestro cuerpo. Básicamente, este tipo de piercings 
            consiste en introducir una pequeña pieza dentro de la piel, dejando en 
            la superficie la punta saliente de la joya.-->
            <img class="full-image" src="http://8-dot-inkdata-1019.appspot.com/img/tipoProcedimiento/microdermal.jpg" width="90%" height="20%">

             </div>
         <div class="item item-divider fondoRojo">
           {{"bifurcacion" | translate}}
         </div>
          <div class="item item-text-wrap justificar">
             <!--  Es una modificación corporal en la que la lengua se corta desde la parte 
               central hasta la punta, bifurcándose al final. Pretendiendo separar verticalmente 
              la parte anterior de la lengua, con el fin de que ésta tome una apariencia bífida, 
               característica de las serpientes.-->
              <img class="full-image" src="http://8-dot-inkdata-1019.appspot.com/img/tipoProcedimiento/bifurcacion.jpg" width="90%" height="20%">
          </div>

           <div class="item item-divider fondoRojo">
          {{"piercing" | translate}}
         </div>
          <div class="item item-text-wrap justificar">
             <!-- Es la práctica de perforar o cortar una parte del cuerpo humano, 
              generalmente para insertar aretes o pendientes. Estas perforaciones 
              son una forma de modificación corporal y reflejan tanto valores culturales, 
              como religiosos y espirituales, y además parte de la moda, erotismo, 
              inconformismo o identificación con una subcultura.-->
              <img class="full-image" src="http://8-dot-inkdata-1019.appspot.com/img/tipoProcedimiento/piercing.jpg" width="90%" height="20%">
          </div>

           <div class="item item-divider fondoRojo">
           {{"reconstruccion" | translate}}
         </div>
          <div class="item item-text-wrap justificar">
              <!--La reconstrucción del lóbulo de la oreja o Lobuloplastía es un procedimiento que se realiza normalmente por razones estéticas para cambiar la forma o la proyección del lóbulo de la oreja esto puede suceder por varias razones:

              Lóbulos prominentes o en posición inadecuada. Lóbulos deformados por el uso de piercing o expansiones Dependiendo de la causa de consulta la técnica de reconstrucción del lóbulo puede cambiar pero en general consiste en eliminar la piel sobrante y mejorar el contorno del lóbulo para que sea acorde al tamaño de la oreja.-->
              <img class="full-image" src="http://8-dot-inkdata-1019.appspot.com/img/tipoProcedimiento/lobulo.jpg" width="90%" height="20%">
          </div>

      
  </ion-content>
</ion-view>
